* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 40rem;
    
}


.transicao-de-imagem{ 
    position: absolute;
    width: 100%;
    
   display: flex;
   justify-content: center;
  
    
}

.transicao-de-imagem img{
    height: 28.5rem;
    opacity: 0;
    
}

.transicao-de-imagem img.select{
    opacity: 1;
    margin-top:0;
    margin-left:5.5rem;
    position: absolute;
    transition:opacity 850ms;
  

}
.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.description{
    color:#8e8e8e;
    padding: 8px 10px;
    font-size:13px;
    width: 300px;
    text-align:center;
    line-height:1.2rem;
    word-spacing: 0.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.line{
    border-bottom:1px solid #8e8e8e36;
    width:300px;
    height: 5px;
    margin:8px 0;
}


.users{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    justify-content:space-between;
    padding: 0 8px;
}

.user-text{
    font-weight: 600;
    font-size:12px;
    width: 80px;

}

.perfil-user-description{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    margin-left:-160px;
    justify-content: start;

}

.profile-photo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 60px; 
    overflow: hidden;
}

.profile-photo img {
    height: 32px;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    font-size:12px;
    font-weight: 600;
    margin-left:80px;
   
}


.botao-login{
   
    justify-content: flex-end;
    margin-right: -180px;
}
.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
    font-weight: 600;
    font-size:14px;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media screen and (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
        
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}
